<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Lista de Avaliações </title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1> Lista de Avaliações</h1>
    <a href="/avaliacao/formulario">Nova Avaliação</a>
    <table>
        <thead>
            <tr>
                <th>Data Avaliação</th>
                <th>Diagnóstico</th>
                <th>Nível de Aderência</th>
                <th>Pontuação</th>
                <th>ID. Cliente</th>
                <th>ID. Formulário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
              <tr th:each="avaliacao : ${lista}">
                <td th:text="${avaliacao.dataAvaliacao}"></td>
                <td th:text="${avaliacao.diagnostico}"></td>
                <td th:text="${avaliacao.nivelAderencia}"></td>
                <td th:text="${avaliacao.pontuacao}"></td>
                <td th:text="${avaliacao.clienteId}"></td>
                <td th:text="${avaliacao.formularioId}"></td>
                <td>
                    <a th:href="@{/avaliacao/formulario?id={id}(id=${avaliacao.id})}">
                        <button>Editar</button>
                    </a> 
					<form action="/avaliacao" method="post" style="display:inline;">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="id" th:value="${avaliacao.id}">
						<input type="submit" value="Excluir">
					</form>
				</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>