<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template.html}">

<head>
<meta charset="UTF-8">
<title>Cadastro de Formulário</title>
</head>


<body>
	<div layout:fragment="conteudo">
		<div class="box">
			<h1>Cadastro de Formulário</h1>
			<form id="formulario" method="post" action="/formulario">
				<input type="hidden" name="_method" value="put"
					th:if="${formulario != null}"> <input type="hidden"
					name="id" th:value="${formulario?.id}">

				<div class="pergunta">
					<label for="clienteId">Cliente ID:</label> <input type="text"
						id="clienteId" name="clienteId"
						th:value="${formulario?.clienteId}">
				</div>

				<div class="pergunta">
					<label for="pergunta1">Pergunta 1:</label> <input type="number"
						id="pergunta1" name="pergunta1"
						th:value="${formulario?.pergunta1}">
				</div>

				<div class="pergunta">
					<label for="pergunta2">Pergunta 2:</label> <input type="number"
						id="pergunta2" name="pergunta2"
						th:value="${formulario?.pergunta2}">
				</div>

				<div class="pergunta">
					<label for="pergunta3">Pergunta 3:</label> <input type="number"
						id="pergunta3" name="pergunta3"
						th:value="${formulario?.pergunta3}">
				</div>

				<div class="pergunta">
					<label for="pergunta4">Pergunta 4:</label> <input type="number"
						id="pergunta4" name="pergunta4"
						th:value="${formulario?.pergunta4}">
				</div>

				<div class="pergunta">
					<label for="pergunta5">Pergunta 5:</label> <input type="number"
						id="pergunta5" name="pergunta5"
						th:value="${formulario?.pergunta5}">
				</div>

				<input type="submit" value="Enviar">
			</form>
		</div>
	</div>
</body>

</html>
