<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template.html}">
<head>
<title>Lista de Formulários</title>
</head>
<body>
	<div layout:fragment="conteudo">
		<h1>Lista de Formulários</h1>
		<a href="/formulario/formulario">Novo Formulário</a>

		<form action="/formulario/pesquisa" method="get">
			<input type="text" name="nomeEmpresa"
				placeholder="Pesquisar por Nome da Empresa"
				th:value="${nomeEmpresa}" style="color: black;"> <input
				type="submit" value="Pesquisar">
		</form>

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>CNPJ</th>
					<th>Empresa</th>
					<th>Data Avaliação</th>
					<th>Diagnóstico</th>
					<th>Nível de Aderência</th>
					<th>Pontuação</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="formulario : ${lista}">
					<td th:text="${formulario.clienteId}"></td>
					<td th:text="${formulario.clienteCnpj}"></td>
					<td th:text="${formulario.clienteEmpresa}"></td>
					<td th:text="${formulario.dataAvaliacao}"></td>
					<td th:text="${formulario.diagnostico}"></td>
					<td th:text="${formulario.nivelAderencia}"></td>
					<td th:text="${formulario.pontuacao}"></td>
					<td>
						<form action="/formulario" method="post" style="display: inline;">
							<input type="hidden" name="_method" value="delete"> <input
								type="hidden" name="id" th:value="${formulario.id}"> <input
								type="submit" value="Excluir">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
