<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Segurança da Informação</h1>

		<p>Aqui você pode incluir informações sobre boas práticas de
			segurança da informação, políticas de segurança, dicas para proteção
			de dados, entre outros conteúdos relevantes.</p>

		<!-- Exemplo de conteúdo -->
		<p>A segurança da informação envolve a proteção de informações
			contra acessos não autorizados, uso indevido, divulgação,
			interrupção, modificação ou destruição. É essencial implementar
			medidas adequadas para garantir a integridade, confidencialidade e
			disponibilidade das informações.</p>

		<p>Para mais detalhes sobre como proteger suas informações,
			consulte os especialistas em segurança da informação e siga as
			diretrizes recomendadas para o seu negócio.</p>
	</div>
</body>
</html>
